# OS
.DS_Store

# IDE
.vscode
.idea

# Log
*.log

# NodeJS
node_modules

# Dist
packages/eslint-config/base.js
packages/eslint-config/typescript.js
packages/eslint-config/manifest.json

# Changesets
.changeset/*.md
.changeset/pre.json
